Буцаалт.json
{
  "name": "Буцаалт",
  "nodes": [
    {
      "parameters": {
        "chatId": "={{ $json[\"Chat ID\"] }}",
        "text": "={{ $('Telegram мессеж бэлдэх').item.json.telegram_text }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "📦 Буцаалт",
                    "additionalFields": {
                      "callback_data": "dispatch"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {}
      },
      "id": "a44d45d6-531d-4bd6-b580-eb247e1f695d",
      "name": "Захиалгын мэдэгдэл",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2496,
        288
      ],
      "webhookId": "450e3084-6792-4995-ad51-8749049ccb02",
      "credentials": {
        "telegramApi": {
          "id": "uIyDUeyR0WkUdGRo",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 10
            }
          ]
        }
      },
      "id": "a4fda634-a335-4f97-8be6-b114066b38a8",
      "name": "цагийн давтамж",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        1376,
        192
      ]
    },
    {
      "parameters": {
        "jsCode": "const results = [];\n\nconst nowMs = Date.now();\nconst workflowData = $getWorkflowStaticData('global');\n\nif (!workflowData.sent) {\n  workflowData.sent = {};\n}\n\nfunction parseUBDate(str) {\n  if (!str) return null;\n\n  // \"2026-04-19 14:00 Ням\" -> \"2026-04-19 14:00\"\n  const cleaned = String(str).trim().slice(0, 16);\n\n  const match = cleaned.match(/^(\\d{4})-(\\d{2})-(\\d{2}) (\\d{2}):(\\d{2})$/);\n  if (!match) return null;\n\n  const [, y, m, d, hh, mm] = match;\n\n  // Ulaanbaatar = UTC+8\n  return Date.UTC(\n    Number(y),\n    Number(m) - 1,\n    Number(d),\n    Number(hh) - 8,\n    Number(mm)\n  );\n}\n\nfor (const item of $input.all()) {\n  const row = item.json;\n\n  const orderNum = String(row['Захиалга №'] || '').trim();\n  const returnStr = String(row['Буцах огноо'] || '').trim();\n  const status = String(row['Захиалгын статус'] || '').trim();\n\n  if (!orderNum || !returnStr) continue;\n\n  // Ноорог алгасна\n  if (status === 'Ноорог' || status === '📝 Ноорог') continue;\n\n  const returnMs = parseUBDate(returnStr);\n  if (!returnMs) continue;\n\n  const diffHours = (returnMs - nowMs) / (1000 * 60 * 60);\n\n  // ===== Буцахаас 24 цагийн өмнө 1 удаа\n  // 24 цагийн цонхонд орсон үед нэг удаа\n  if (diffHours <= 24 && diffHours > 1) {\n    const key = `${orderNum}_24h`;\n\n    if (!workflowData.sent[key]) {\n      workflowData.sent[key] = true;\n\n      results.push({\n        json: {\n          ...row,\n          trigger: '⏳ 24 цагийн сануулга',\n          trigger_key: key,\n          diffHours: Number(diffHours.toFixed(1))\n        }\n      });\n    }\n  }\n\n  // ===== Буцахаас 1 цагийн өмнө 1 удаа\n  else if (diffHours <= 1 && diffHours >= 0) {\n    const key = `${orderNum}_1h`;\n\n    if (!workflowData.sent[key]) {\n      workflowData.sent[key] = true;\n\n      results.push({\n        json: {\n          ...row,\n          trigger: '🔴 1 цагийн сануулга',\n          trigger_key: key,\n          diffHours: Number(diffHours.toFixed(1))\n        }\n      });\n    }\n  }\n}\n\nreturn results;"
      },
      "id": "530c0f26-d1d2-4e54-9178-307597a11d66",
      "name": "буцаалт шүүлтүүр",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1824,
        192
      ],
      "alwaysOutputData": false,
      "executeOnce": false,
      "retryOnFail": true
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1PQgDjjDzeVZ8bzGj-KGnFALBCio7AhoP3gFr2z42e7s",
          "mode": "list",
          "cachedResultName": "M_EVENT_Google_Sheet_Structure",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PQgDjjDzeVZ8bzGj-KGnFALBCio7AhoP3gFr2z42e7s/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1178724000,
          "mode": "list",
          "cachedResultName": "📋 Гарах захиалга",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PQgDjjDzeVZ8bzGj-KGnFALBCio7AhoP3gFr2z42e7s/edit#gid=1178724000"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1600,
        192
      ],
      "id": "201e624e-bc5d-4b23-8fd6-1fc7c54d9322",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "k4p4OIdOAsaZgnRH",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1PQgDjjDzeVZ8bzGj-KGnFALBCio7AhoP3gFr2z42e7s",
          "mode": "list",
          "cachedResultName": "M_EVENT_Google_Sheet_Structure",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PQgDjjDzeVZ8bzGj-KGnFALBCio7AhoP3gFr2z42e7s/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1178724000,
          "mode": "list",
          "cachedResultName": "📋 Гарах захиалга",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PQgDjjDzeVZ8bzGj-KGnFALBCio7AhoP3gFr2z42e7s/edit#gid=1178724000"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Захиалга №": "={{ $('Telegram мессеж бэлдэх').item.json[\"Захиалга №\"] }}",
            "Захиалгын статус": "🔄 Буцаалт хүлээгдэж байна"
          },
          "matchingColumns": [
            "Захиалга №"
          ],
          "schema": [
            {
              "id": "Захиалгын ID",
              "displayName": "Захиалгын ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Захиалга №",
              "displayName": "Захиалга №",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Гэрээний №",
              "displayName": "Гэрээний №",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Харилцагч нэр",
              "displayName": "Харилцагч нэр",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "байгууллагын РД:",
              "displayName": "байгууллагын РД:",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Утас",
              "displayName": "Утас",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Хаяг",
              "displayName": "Хаяг",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Гарах огноо",
              "displayName": "Гарах огноо",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Буцах огноо",
              "displayName": "Буцах огноо",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Барааны дэлгэрэнгүй",
              "displayName": "Барааны дэлгэрэнгүй",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Түрээсийн Хугацаа",
              "displayName": "Түрээсийн Хугацаа",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Нийт барааны тоо",
              "displayName": "Нийт барааны тоо",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Төлсөн дүн (₮)",
              "displayName": "Төлсөн дүн (₮)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Үлдэгдэл (₮)",
              "displayName": "Үлдэгдэл (₮)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Барьцаа (₮)",
              "displayName": "Барьцаа (₮)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Нөат-гүй дүн",
              "displayName": "Нөат-гүй дүн",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Нөат",
              "displayName": "Нөат",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Нөат-тэй нийт дүн",
              "displayName": "Нөат-тэй нийт дүн",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Нийт хямдрал",
              "displayName": "Нийт хямдрал",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Төлбөрийн статус",
              "displayName": "Төлбөрийн статус",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Барьцаа буцаах данс",
              "displayName": "Барьцаа буцаах данс",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Гэрээний төлөв",
              "displayName": "Гэрээний төлөв",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Гэрээ огноо",
              "displayName": "Гэрээ огноо",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Захиалгын статус",
              "displayName": "Захиалгын статус",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "48 цаг мэдэгдэл",
              "displayName": "48 цаг мэдэгдэл",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "24 цаг мэдэгдэл",
              "displayName": "24 цаг мэдэгдэл",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Readable date",
              "displayName": "Readable date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Readable time",
              "displayName": "Readable time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Day of week",
              "displayName": "Day of week",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Year",
              "displayName": "Year",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Month",
              "displayName": "Month",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Day of month",
              "displayName": "Day of month",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Hour",
              "displayName": "Hour",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Minute",
              "displayName": "Minute",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Second",
              "displayName": "Second",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Timezone",
              "displayName": "Timezone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2272,
        96
      ],
      "id": "887e7993-c95f-4984-87ff-a7ca388cf2c6",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "k4p4OIdOAsaZgnRH",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Iv3N5Id5z8SuIWSdfGkzNXlZiRJPWJC4As47px7_HPI",
          "mode": "list",
          "cachedResultName": "Telegram ажилчид"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2272,
        288
      ],
      "id": "597f07d2-e4ea-46c0-a6cf-ebe468138c5d",
      "name": "Telegram ажилчид",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "k4p4OIdOAsaZgnRH",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function parseItems(text) {\n  if (!text || text.trim() === '') return '• Барааны мэдээлэл алга';\n\n  return text\n    .split('\\n')\n    .map(line => line.trim())\n    .filter(Boolean)\n    .map(line => {\n      line = line.replace(/^\\d+\\.\\s*/, '');\n      line = line.replace(/\\s*\\([^)]*\\)/g, '');\n      line = line.replace(/\\s+x(\\d+)/i, ' $1ш');\n      line = line.replace(/\\s+/g, ' ').trim();\n      return `• ${line}`;\n    })\n    .join('\\n');\n}\n\nfunction escapeMarkdown(text) {\n  return text.replace(/([_*\\[\\]()~`>#+\\-=|{}.!])/g, '\\\\$1');\n}\n\nconst orderNo = String($json['Захиалга №'] || '');\nconst customer = String($json['Харилцагч нэр'] || '');\nconst phone = String($json['Утас'] || '-');\nconst stopDate = String($json['Буцах огноо'] || '');\nconst address = String($json['Хаяг'] || '').trim();\n\nlet addressText = '';\nif (address !== '') {\n  addressText = `📍 Хаяг: ${escapeMarkdown(address)}`;\n} else {\n  addressText = `📍 Хаяг: байхгүй\\n👉 Менежер эсвэл захиалагчтай холбогдоно`;\n}\n\nconst itemsText = parseItems($json['Барааны дэлгэрэнгүй']);\n\nconst instructions = `🛠 Заавар\\n• Буцах цагийг баталгаажуулна\\n• Хүлээж авахдаа тоо, эвдрэл шалгана\\n• Асуудал байвал зураг авч мэдэгдэнэ`;\n\nconst finalText = `📦 Буцаалтын мэдэгдэл\\n\\n📦 Захиалга #${orderNo}\\n👤 ${escapeMarkdown(customer)} (${phone})\\n\\n${addressText}\\n\\n📦 Бүтээгдэхүүн:\\n${escapeMarkdown(itemsText)}\\n\\n📅 Буцах: ${escapeMarkdown(stopDate)}\\n\\n${instructions}`;\n\nreturn [{\n  json: {\n    ...$json,\n    telegram_text: finalText\n  }\n}];"
      },
      "id": "2b072f64-5e17-41d0-91be-4f462553e640",
      "name": "Telegram мессеж бэлдэх",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2048,
        192
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "updates": [
          "callback_query",
          "message"
        ],
        "additionalFields": {}
      },
      "id": "85b3022c-a55c-405f-a847-aa85d38ece29",
      "name": "Unified Telegram Trigger1",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        1376,
        784
      ],
      "webhookId": "dda904cd-d92a-4d4b-879a-8d2b8bb76a36",
      "credentials": {
        "telegramApi": {
          "id": "uIyDUeyR0WkUdGRo",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2496,
        976
      ],
      "id": "3cdfdaa5-a6a6-434e-96b1-0bf8698544c9",
      "name": "Merge1"
    },
    {
      "parameters": {
        "name": "={{ (() => { const orderRaw = String($(\"Merge1\").item.json.order_number || \"\").trim(); const action = String($(\"Merge1\").item.json.action_type || \"\"); let prefix = \"Буцаалт\"; if (action.indexOf(\"Гаргасан\") !== -1) prefix = \"❗Асуудал\"; else if (action.indexOf(\"Хүргэлт\") !== -1) prefix = \"хүргэлт\"; const orderClean = orderRaw.replace(/\\D/g, \"\"); if (!orderClean) prefix = \"ALDAA-noOrder\"; const d = new Date(Date.now() + 8 * 3600 * 1000); const date = d.toISOString().slice(0,10).replace(/-/g,\"\"); const time = d.toISOString().slice(11,19).replace(/:/g,\"\"); return prefix + \"-\" + (orderClean || \"X\") + \"-\" + date + \"-\" + time; })() }}.jpg",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1C1AFP2wyHozURMuqRH5_Yc6owZlHDMtk",
          "mode": "list",
          "cachedResultName": "Гаралт/ирэлт зураг",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1C1AFP2wyHozURMuqRH5_Yc6owZlHDMtk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2720,
        976
      ],
      "id": "a87a7fbb-4f76-4f6f-b235-49b42b107639",
      "name": "Upload file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "TbCSVxRhCkFNsXq2",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "resource": "callback",
        "queryId": "={{ $json.callback_query.id }}",
        "additionalFields": {
          "text": "Хүлээн авлаа ✅"
        }
      },
      "id": "2f5178f6-9edb-424d-8d67-7024645a0555",
      "name": "Хүлээн авлаа ✅1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2048,
        512
      ],
      "webhookId": "364a0ec8-eb51-4e9f-b923-f0d04a8079b1",
      "credentials": {
        "telegramApi": {
          "id": "uIyDUeyR0WkUdGRo",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{$node[\"Check Dispatch Button1\"].json.callback_query.from.id}}",
        "text": "={{ \"📸 ЗАХИАЛГА #\" + ($node[\"Check Dispatch Button1\"].json.callback_query.message.text.match(/#(\\d+)/)?.[1] || \"\") + \"\\Буцаалт гарын үсэг зура уу.\" }}",
        "additionalFields": {
          "reply_to_message_id": "={{$node[\"Check Dispatch Button1\"].json.callback_query.message.message_id}}"
        }
      },
      "id": "0caf031b-87f5-4875-9aa0-d3bfee3b8b72",
      "name": "Асуудалын талаар reply хийж бичнэ үү.1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2272,
        512
      ],
      "webhookId": "5d3b58f0-d2eb-4e41-ac84-2ed5198aecb7",
      "credentials": {
        "telegramApi": {
          "id": "uIyDUeyR0WkUdGRo",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Merge1').item.json.staff_user_id }}",
        "text": "✍️ Гарын үсэг амжилттай зурлаа.",
        "additionalFields": {}
      },
      "id": "8df4737e-cffb-4467-b419-5c030d234cb3",
      "name": "✍️ Гарын үсэг амжилттай зурлаа.1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3168,
        976
      ],
      "webhookId": "d956641b-73f3-43e5-91a9-3139e150804a",
      "credentials": {
        "telegramApi": {
          "id": "uIyDUeyR0WkUdGRo",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1PQgDjjDzeVZ8bzGj-KGnFALBCio7AhoP3gFr2z42e7s",
          "mode": "list",
          "cachedResultName": "M_EVENT_Google_Sheet_Structure"
        },
        "sheetName": {
          "__rl": true,
          "value": 1464220326,
          "mode": "list",
          "cachedResultName": "Хүлээн авсан тайлан",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PQgDjjDzeVZ8bzGj-KGnFALBCio7AhoP3gFr2z42e7s/edit#gid=1464220326"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Захиалга №": "={{ $('Merge1').item.json.order_number }}",
            "Төрөл": "={{ $('Merge1').item.json.action_type }}",
            "тайлбар": "={{ $('Merge1').item.json.issue_text }}",
            "Хүлээн авсан Ажилтан": "={{ $('Merge1').item.json.staff_name }}",
            "Захиалга зураг батлагаа": "={{ $json.webViewLink }}",
            "Хүлээлгэн өгсөн цаг": "={{ $('Merge1').item.json.created_at }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Захиалга №",
              "displayName": "Захиалга №",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Төрөл",
              "displayName": "Төрөл",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "тайлбар",
              "displayName": "тайлбар",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Хүлээн авсан Ажилтан",
              "displayName": "Хүлээн авсан Ажилтан",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Захиалга зураг батлагаа",
              "displayName": "Захиалга зураг батлагаа",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Хүлээлгэн өгсөн цаг",
              "displayName": "Хүлээлгэн өгсөн цаг",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "8ca2a8a1-1c8e-4609-9dd0-6bdb3823384b",
      "name": "Save Dispatch to Sheets1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2944,
        976
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "k4p4OIdOAsaZgnRH",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{$json.file_id}}",
        "additionalFields": {}
      },
      "id": "f03426fe-545a-4311-86d6-216e5b2557cb",
      "name": "Get Telegram File1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2272,
        896
      ],
      "webhookId": "d965c52a-7417-4c1c-a261-73e74e7c785b",
      "credentials": {
        "telegramApi": {
          "id": "uIyDUeyR0WkUdGRo",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{$json.chat_id}}",
        "text": "={{$json.message}}",
        "additionalFields": {}
      },
      "id": "32aad813-abd7-4aa8-a6a4-1d70ab9329fe",
      "name": "Send Dispatch Error Message1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2272,
        704
      ],
      "webhookId": "2810356b-8d64-4acd-906c-8965f8130e77",
      "credentials": {
        "telegramApi": {
          "id": "uIyDUeyR0WkUdGRo",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "leftValue": "={{ $json.error }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              },
              "id": "6e528a79-6230-434a-a3dc-756e53da9275"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a3945d74-88ac-4aba-abf8-5a7d298019b5",
      "name": "Check Dispatch Error1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2048,
        800
      ]
    },
    {
      "parameters": {
        "jsCode": "const msg = $input.first().json;\n\nconst currentCaption = msg.message?.caption || \"\";\nconst replyText = msg.message?.reply_to_message?.text || \"\";\nconst replyCaption = msg.message?.reply_to_message?.caption || \"\";\nconst fullText = [currentCaption, replyText, replyCaption].join(\"\\n\");\nconst normalizedText = fullText.toUpperCase();\n\nconst match = fullText.match(/#(\\d+)/);\nconst startMatch = fullText.match(/Эхлэх:\\s*([0-9:\\-\\s]+)/);\nlet startsAtRaw = startMatch ? startMatch[1].trim() : null;\n\nconst telegramUnix = msg.message?.date || Math.floor(Date.now() / 1000);\nconst createdDate = new Date(telegramUnix * 1000);\n\nconst createdAt = createdDate.toLocaleString(\"sv-SE\", {\n  timeZone: \"Asia/Ulaanbaatar\"\n});\n\nconst staffName = [\n  msg.message?.from?.first_name || \"\",\n  msg.message?.from?.last_name || \"\"\n].join(\" \").trim() || msg.message?.from?.username || \"\";\n\nlet hoursBefore = null;\nif (startsAtRaw) {\n  const startsAt = new Date(startsAtRaw);\n  hoursBefore = Math.round((startsAt - createdDate) / (1000 * 60 * 60));\n}\n\nconst action_type =\n  normalizedText.includes(\"ГАРГАСАН\") ? \"📦 Гаргасан\" :\n  normalizedText.includes(\"ХҮРГЭЛТ\") ? \"🚚 Хүргэлт\" :\n  normalizedText.includes(\"БУЦААЛТ\") ? \"📦 Буцаалт\" :\n  normalizedText.includes(\"АСУУДАЛ\") ? \"❗ Асуудал\" :\n  \"\";\n\nconst fileId = msg.message?.photo?.slice(-1)[0]?.file_id || null;\nconst issueText = currentCaption.trim();\n\n// ===== REPLY шалгах\nconst hasReply = !!msg.message?.reply_to_message;\n\n// ===== Error defaults\nlet error = false;\nlet errorMessage = \"\";\n\n// 1. Зураг байхгүй бол\nif (!fileId) {\n  error = true;\n  errorMessage = \"❌ Зураг олдсонгүй. Захиалгын мессеж дээр REPLY хийгээд зураг явуулна уу.\";\n}\n\n// 2. REPLY хийгээгүй бол\nelse if (!hasReply) {\n  error = true;\n  errorMessage = `❌❌❌ БУРУУ ИЛГЭЭЛТ — ЗУРАГ ХҮЛЭЭН АВААГҮЙ ❌❌❌\n\n📌 Зураг зөвхөн захиалгын мессеж дээр REPLY хийсэн тохиолдолд л бүртгэгдэнэ.\n🔁 Захиалгын мессеж дээр REPLY хийж дахин илгээнэ үү.\n\n⚠️ REPLY хийгээгүй зураг ажлын гүйцэтгэлд тооцогдохгүй.`;\n}\n\n// 3. Асуудал төрлийн зураг бол caption заавал байна\nelse if (action_type === \"❗ Асуудал\" && !issueText) {\n  error = true;\n  errorMessage = \"❌ Асуудлын тайлбар бичнэ үү. Зургийн caption-д асуудлын тайлбар оруулна уу.\";\n}\n\nreturn [{\n  json: {\n    error: error,\n    order_number: match ? match[1] : null,\n    chat_id: msg.message?.chat?.id || \"\",\n    file_id: fileId,\n    staff_name: staffName,\n    staff_user_id: msg.message?.from?.id || \"\",\n    message_id: msg.message?.message_id || \"\",\n    caption: currentCaption,\n    reply_text: replyText,\n    reply_caption: replyCaption,\n    full_text: fullText,\n    created_at: createdAt,\n    starts_at: startsAtRaw,\n    hours_before_start: hoursBefore,\n    action_type: action_type,\n    issue_text: issueText,\n    has_reply: hasReply,\n    message: errorMessage\n  }\n}];"
      },
      "id": "123d3722-439d-40a8-a93b-68c8634184f6",
      "name": "Extract Dispatch Data1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1824,
        1040
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "leftValue": "={{ $json.callback_query?.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "name": "filter.operator.notEmpty"
              },
              "id": "callback-check"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6dc8c072-3436-446e-98d1-5a1d4fa45a48",
      "name": "Route Update Type1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1600,
        784
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1PQgDjjDzeVZ8bzGj-KGnFALBCio7AhoP3gFr2z42e7s",
          "mode": "list",
          "cachedResultName": "M_EVENT_Google_Sheet_Structure"
        },
        "sheetName": {
          "__rl": true,
          "value": 1178724000,
          "mode": "list",
          "cachedResultName": "📋 Гарах захиалга",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PQgDjjDzeVZ8bzGj-KGnFALBCio7AhoP3gFr2z42e7s/edit#gid=1178724000"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Захиалгын статус": "✅ Дууссан",
            "Захиалга №": "={{ $json.order_number }}"
          },
          "matchingColumns": [
            "Захиалга №"
          ],
          "schema": [
            {
              "id": "Захиалгын ID",
              "displayName": "Захиалгын ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Захиалга №",
              "displayName": "Захиалга №",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Гэрээний №",
              "displayName": "Гэрээний №",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Харилцагч нэр",
              "displayName": "Харилцагч нэр",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "байгууллагын РД:",
              "displayName": "байгууллагын РД:",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Утас",
              "displayName": "Утас",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Хаяг",
              "displayName": "Хаяг",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Гарах огноо",
              "displayName": "Гарах огноо",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Буцах огноо",
              "displayName": "Буцах огноо",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Барааны дэлгэрэнгүй",
              "displayName": "Барааны дэлгэрэнгүй",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Түрээсийн Хугацаа",
              "displayName": "Түрээсийн Хугацаа",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Нийт барааны тоо",
              "displayName": "Нийт барааны тоо",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Төлсөн дүн (₮)",
              "displayName": "Төлсөн дүн (₮)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Үлдэгдэл (₮)",
              "displayName": "Үлдэгдэл (₮)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Барьцаа (₮)",
              "displayName": "Барьцаа (₮)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Нөат-гүй дүн",
              "displayName": "Нөат-гүй дүн",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Нөат",
              "displayName": "Нөат",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Нөат-тэй нийт дүн",
              "displayName": "Нөат-тэй нийт дүн",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Нийт хямдрал",
              "displayName": "Нийт хямдрал",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Төлбөрийн статус",
              "displayName": "Төлбөрийн статус",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Барьцаа буцаах данс",
              "displayName": "Барьцаа буцаах данс",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Гэрээний төлөв",
              "displayName": "Гэрээний төлөв",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Гэрээ огноо",
              "displayName": "Гэрээ огноо",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Захиалгын статус",
              "displayName": "Захиалгын статус",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "48 цаг мэдэгдэл",
              "displayName": "48 цаг мэдэгдэл",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "24 цаг мэдэгдэл",
              "displayName": "24 цаг мэдэгдэл",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2048,
        1184
      ],
      "id": "329ee0fc-1d20-43b4-9576-e1c931e98004",
      "name": "Хүлээлгэн өгөх төлөв шинчлэлт1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "k4p4OIdOAsaZgnRH",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5c80a34b-8f41-421d-bf65-f1475066a70b",
              "leftValue": "={{$json.callback_query.data}}",
              "rightValue": "dispatch",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8a9d0d50-6008-4df8-959d-6e771d87d777",
      "name": "Check Dispatch Button1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1824,
        512
      ]
    }
  ],
  "pinData": {
    "Unified Telegram Trigger1": [
      {
        "json": {
          "update_id": 875547906,
          "message": {
            "message_id": 250,
            "from": {
              "id": 1239646139,
              "is_bot": false,
              "first_name": "Munkhuchral",
              "last_name": "Ganbat",
              "username": "Markusdt",
              "language_code": "en"
            },
            "chat": {
              "id": 1239646139,
              "first_name": "Munkhuchral",
              "last_name": "Ganbat",
              "username": "Markusdt",
              "type": "private"
            },
            "date": 1776001650,
            "reply_to_message": {
              "message_id": 249,
              "from": {
                "id": 8183816485,
                "is_bot": true,
                "first_name": "Буцаалт Mevent",
                "username": "mevent_return_bot"
              },
              "chat": {
                "id": 1239646139,
                "first_name": "Munkhuchral",
                "last_name": "Ganbat",
                "username": "Markusdt",
                "type": "private"
              },
              "date": 1776001634,
              "text": "📸 ЗАХИАЛГА #1158Буцаалт гарын үсэг зура уу.\n\nThis message was sent automatically with n8n",
              "entities": [
                {
                  "offset": 12,
                  "length": 12,
                  "type": "hashtag"
                },
                {
                  "offset": 46,
                  "length": 41,
                  "type": "italic"
                },
                {
                  "offset": 87,
                  "length": 3,
                  "type": "text_link",
                  "url": "https://n8n.io/?utm_source=n8n-internal&utm_medium=powered_by&utm_campaign=n8n-nodes-base.telegram_f638da819297acbd6e4f4271a24c6826d03f971863c6ffa42183ae0805d3cea1"
                }
              ],
              "link_preview_options": {
                "is_disabled": true
              }
            },
            "photo": [
              {
                "file_id": "AgACAgUAAxkBAAP6aduicix12aAILOxvt1gCVCD4y50AAlUNaxsQBuFWAAE6CB9oLPEJAQADAgADcwADOwQ",
                "file_unique_id": "AQADVQ1rGxAG4VZ4",
                "file_size": 1370,
                "width": 67,
                "height": 90
              },
              {
                "file_id": "AgACAgUAAxkBAAP6aduicix12aAILOxvt1gCVCD4y50AAlUNaxsQBuFWAAE6CB9oLPEJAQADAgADbQADOwQ",
                "file_unique_id": "AQADVQ1rGxAG4VZy",
                "file_size": 17912,
                "width": 240,
                "height": 320
              },
              {
                "file_id": "AgACAgUAAxkBAAP6aduicix12aAILOxvt1gCVCD4y50AAlUNaxsQBuFWAAE6CB9oLPEJAQADAgADeAADOwQ",
                "file_unique_id": "AQADVQ1rGxAG4VZ9",
                "file_size": 81949,
                "width": 600,
                "height": 800
              },
              {
                "file_id": "AgACAgUAAxkBAAP6aduicix12aAILOxvt1gCVCD4y50AAlUNaxsQBuFWAAE6CB9oLPEJAQADAgADeQADOwQ",
                "file_unique_id": "AQADVQ1rGxAG4VZ-",
                "file_size": 107733,
                "width": 960,
                "height": 1280
              }
            ],
            "caption": "Bshshsb"
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "цагийн давтамж": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "буцаалт шүүлтүүр": {
      "main": [
        [
          {
            "node": "Telegram мессеж бэлдэх",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "буцаалт шүүлтүүр",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram ажилчид": {
      "main": [
        [
          {
            "node": "Захиалгын мэдэгдэл",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram мессеж бэлдэх": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Telegram ажилчид",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unified Telegram Trigger1": {
      "main": [
        [
          {
            "node": "Route Update Type1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Upload file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file1": {
      "main": [
        [
          {
            "node": "Save Dispatch to Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Хүлээн авлаа ✅1": {
      "main": [
        [
          {
            "node": "Асуудалын талаар reply хийж бичнэ үү.1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Dispatch to Sheets1": {
      "main": [
        [
          {
            "node": "✍️ Гарын үсэг амжилттай зурлаа.1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Telegram File1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Dispatch Error1": {
      "main": [
        [
          {
            "node": "Send Dispatch Error Message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Telegram File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Dispatch Data1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          },
          {
            "node": "Check Dispatch Error1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Хүлээлгэн өгөх төлөв шинчлэлт1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Update Type1": {
      "main": [
        [
          {
            "node": "Check Dispatch Button1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Dispatch Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Dispatch Button1": {
      "main": [
        [
          {
            "node": "Хүлээн авлаа ✅1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "a1418fe8-b86c-4024-b799-96cb50590c21",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f638da819297acbd6e4f4271a24c6826d03f971863c6ffa42183ae0805d3cea1"
  },
  "id": "BADEMbXZ8jAPdidy",
  "tags": [
    {
      "updatedAt": "2026-04-06T05:37:11.533Z",
      "createdAt": "2026-04-06T05:37:11.533Z",
      "id": "OhVVLbAUdZtvBgg4",
      "name": "M event"
    }
  ]
}