Гаргасан.json
{
  "name": "Гаргасан",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "callback_query",
          "message"
        ],
        "additionalFields": {}
      },
      "id": "bb688d7d-a527-44b7-8ed3-c786290ec0ff",
      "name": "Unified Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        20608,
        7072
      ],
      "webhookId": "81b94434-9584-4742-998e-eb3bf18788f4",
      "credentials": {
        "telegramApi": {
          "id": "cUU1UFjZzLihaeUk",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        21728,
        7360
      ],
      "id": "de02a825-14ae-4147-aff1-27811ed71def",
      "name": "Merge"
    },
    {
      "parameters": {
        "name": "={{ (() => { const orderRaw = String($(\"Merge\").item.json.order_number || \"\").trim(); const action = String($(\"Merge\").item.json.action_type || \"\"); let prefix = \"gargah-asuudal\"; if (action.indexOf(\"Гаргасан\") !== -1) prefix = \"garsan\"; else if (action.indexOf(\"Хүргэлт\") !== -1) prefix = \"hurgelt\"; const orderClean = orderRaw.replace(/\\D/g, \"\"); if (!orderClean) prefix = \"ALDAA-noOrder\"; const d = new Date(Date.now() + 8 * 3600 * 1000); const date = d.toISOString().slice(0,10).replace(/-/g,\"\"); const time = d.toISOString().slice(11,19).replace(/:/g,\"\"); return prefix + \"-\" + (orderClean || \"X\") + \"-\" + date + \"-\" + time; })() }}.jpg",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1C1AFP2wyHozURMuqRH5_Yc6owZlHDMtk",
          "mode": "list",
          "cachedResultName": "Гаралт/ирэлт зураг",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1C1AFP2wyHozURMuqRH5_Yc6owZlHDMtk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        21952,
        7360
      ],
      "id": "7d5636f2-a6c1-475c-a63d-d12578f52732",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "TbCSVxRhCkFNsXq2",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "resource": "callback",
        "queryId": "={{$json.callback_query.id}}",
        "additionalFields": {
          "text": "Хүлээн авлаа ✅"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        21280,
        6704
      ],
      "id": "6e20ed52-b38b-4476-b054-6ae40e100a8d",
      "name": "Хүлээн авлаа ✅8",
      "webhookId": "5ec6ce0d-3908-4d4d-9a2e-e95a2c2991c7",
      "credentials": {
        "telegramApi": {
          "id": "cUU1UFjZzLihaeUk",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Merge').item.json.staff_user_id }}",
        "text": "✍️ Гарын үсэг амжилттай зурлаа.",
        "additionalFields": {}
      },
      "id": "07df8d8d-9e30-444a-abc3-e2a6038203a1",
      "name": "✍️ Гарын үсэг амжилттай зурлаа.",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        22400,
        7360
      ],
      "webhookId": "d956641b-73f3-43e5-91a9-3139e150804a",
      "credentials": {
        "telegramApi": {
          "id": "cUU1UFjZzLihaeUk",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1PQgDjjDzeVZ8bzGj-KGnFALBCio7AhoP3gFr2z42e7s",
          "mode": "list",
          "cachedResultName": "M_EVENT_Google_Sheet_Structure"
        },
        "sheetName": {
          "__rl": true,
          "value": 1112494729,
          "mode": "list",
          "cachedResultName": "Гаргасан тайлан",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PQgDjjDzeVZ8bzGj-KGnFALBCio7AhoP3gFr2z42e7s/edit#gid=1112494729"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Захиалга №": "={{ $(\"Merge\").item.json.order_number }}",
            "Төрөл": "={{ $(\"Merge\").item.json.action_type }}",
            "Хүлээлгэн өгсөн Ажилтан": "={{ $(\"Merge\").item.json.staff_name }}",
            "Захиалга зураг батлагаа": "={{ $(\"Upload file\").item.json.webViewLink }}",
            "Хүлээлгэн өгсөн цаг": "={{ $(\"Merge\").item.json.created_at }}",
            "Тайлбар": "={{ \"'\" + ($('Extract Dispatch Data').item.json.issue_text || 'Тайлбар бичээгүй') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Захиалга №",
              "displayName": "Захиалга №",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Төрөл",
              "displayName": "Төрөл",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Тайлбар",
              "displayName": "Тайлбар",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Хүлээлгэн өгсөн Ажилтан",
              "displayName": "Хүлээлгэн өгсөн Ажилтан",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Захиалга зураг батлагаа",
              "displayName": "Захиалга зураг батлагаа",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Хүлээлгэн өгсөн цаг",
              "displayName": "Хүлээлгэн өгсөн цаг",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "ddf2bd15-1884-4e66-a3b2-7c8e4c2ff405",
      "name": "Save Dispatch to Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        22176,
        7360
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "k4p4OIdOAsaZgnRH",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{$json.file_id}}",
        "additionalFields": {}
      },
      "id": "b808b701-efcd-4a49-aad8-7711b4db7edc",
      "name": "Get Telegram File",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        21504,
        7280
      ],
      "webhookId": "d965c52a-7417-4c1c-a261-73e74e7c785b",
      "credentials": {
        "telegramApi": {
          "id": "cUU1UFjZzLihaeUk",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{$json.chat_id}}",
        "text": "={{$json.message}}",
        "additionalFields": {}
      },
      "id": "43f03114-93a3-4f0f-ba9b-737e3ca85183",
      "name": "Send Dispatch Error Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        21504,
        7088
      ],
      "webhookId": "2810356b-8d64-4acd-906c-8965f8130e77",
      "credentials": {
        "telegramApi": {
          "id": "cUU1UFjZzLihaeUk",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "leftValue": "={{ $json.error }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              },
              "id": "6e528a79-6230-434a-a3dc-756e53da9275"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "714c03cf-2185-4a4e-89ae-110ea4e6a7ac",
      "name": "Check Dispatch Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        21280,
        7184
      ]
    },
    {
      "parameters": {
        "jsCode": "const msg = $input.first().json;\n\nconst currentCaption = msg.message?.caption || \"\";\nconst replyText = msg.message?.reply_to_message?.text || \"\";\nconst replyCaption = msg.message?.reply_to_message?.caption || \"\";\nconst fullText = [currentCaption, replyText, replyCaption].join(\"\\n\");\n\nconst normalizedText = fullText.toUpperCase();\n\nconst match = fullText.match(/#(\\d+)/);\nconst startMatch = fullText.match(/Эхлэх:\\s*([0-9:\\-\\s]+)/);\nlet startsAtRaw = startMatch ? startMatch[1].trim() : null;\n\nconst telegramUnix = msg.message?.date || Math.floor(Date.now() / 1000);\nconst createdDate = new Date(telegramUnix * 1000);\nconst createdAt = createdDate.toLocaleString(\"sv-SE\", {\n  timeZone: \"Asia/Ulaanbaatar\"\n});\n\nconst staffName = [\n  msg.message?.from?.first_name || \"\",\n  msg.message?.from?.last_name || \"\"\n].join(\" \").trim() || msg.message?.from?.username || \"\";\n\nlet hoursBefore = null;\nif (startsAtRaw) {\n  const startsAt = new Date(startsAtRaw);\n  hoursBefore = Math.round((startsAt - createdDate) / (1000 * 60 * 60));\n}\n\nconst action_type =\n  normalizedText.includes(\"ГАРГАСАН\") ? \"📦 Гаргасан\" :\n  normalizedText.includes(\"ХҮРГЭЛТ\") ? \"🚚 Хүргэлт\" :\n  normalizedText.includes(\"АСУУДАЛ\") ? \"❗ Асуудал\" :\n  \"\";\n\nconst fileId = msg.message?.photo?.slice(-1)[0]?.file_id || null;\nconst issueText = currentCaption.trim();\nconst isReply = !!msg.message?.reply_to_message;\n\nlet error = false;\nlet errorMessage = \"\";\n\nif (!isReply) {\n  error = true;\n  errorMessage = `❌❌❌ БУРУУ ИЛГЭЭЛТ — ЗУРАГ ХҮЛЭЭН АВААГҮЙ ❌❌❌\n\n📌 Зураг зөвхөн захиалгын мессеж дээр REPLY хийсэн тохиолдолд л бүртгэгдэнэ.\n🔁 Захиалгын мессеж дээр REPLY хийж дахин илгээнэ үү.\n\n⚠️ REPLY хийгээгүй зураг ажлын гүйцэтгэлд тооцогдохгүй.`;\n} else if (!fileId) {\n  error = true;\n  errorMessage = \"❌ Зураг олдсонгүй. Захиалгын мессеж дээр REPLY хийгээд зураг явуулна уу.\";\n}\n\nreturn [{\n  json: {\n    error: error,\n    order_number: match ? match[1] : null,\n    chat_id: msg.message?.chat?.id || \"\",\n    file_id: fileId,\n    staff_name: staffName,\n    staff_user_id: msg.message?.from?.id || \"\",\n    message_id: msg.message?.message_id || \"\",\n    caption: currentCaption,\n    reply_text: replyText,\n    reply_caption: replyCaption,\n    full_text: fullText,\n    created_at: createdAt,\n    starts_at: startsAtRaw,\n    hours_before_start: hoursBefore,\n    action_type: action_type,\n    issue_text: issueText,\n    is_reply: isReply,\n    message: errorMessage\n  }\n}];"
      },
      "id": "7c7b70ea-e0fa-4b15-9952-dc39a673a713",
      "name": "Extract Dispatch Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        21056,
        7424
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "5c80a34b-8f41-421d-bf65-f1475066a70b",
                    "leftValue": "={{$json.callback_query.data}}",
                    "rightValue": "dispatch",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "0d9b9353-7324-4372-a535-36d884fd365e",
                    "leftValue": "={{$json.callback_query.data}}",
                    "rightValue": "delivery",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        21056,
        6800
      ],
      "id": "00020610-60e1-4a6e-9888-566623aa8d77",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "callback",
        "queryId": "={{$json.callback_query.id}}",
        "additionalFields": {
          "text": "Хүлээн авлаа ✅"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        21280,
        6896
      ],
      "id": "e2adf728-f3c7-4517-8d91-4625fb3aca33",
      "name": "Хүлээн авлаа ✅9",
      "webhookId": "5ec6ce0d-3908-4d4d-9a2e-e95a2c2991c7",
      "credentials": {
        "telegramApi": {
          "id": "cUU1UFjZzLihaeUk",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{$node[\"Switch\"].json.callback_query.from.id}}",
        "text": "={{ \"📸 ЗАХИАЛГА #\" + ($node[\"Switch\"].json.callback_query.message.text.match(/#(\\d+)/)?.[1] || \"\") + \"\\nЗураг REPLY хийж ХҮРГЭЛТ гарын үсэг зурна уу.\" }}",
        "additionalFields": {
          "reply_to_message_id": "={{$node[\"Switch\"].json.callback_query.message.message_id}}"
        }
      },
      "id": "2f7a66e7-d6e5-449e-b8af-58297dd4a094",
      "name": "Хүргэлт гарын үсэг1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        21504,
        6896
      ],
      "webhookId": "d5c4009a-6a8a-4191-8162-2da51f3a4c25",
      "credentials": {
        "telegramApi": {
          "id": "cUU1UFjZzLihaeUk",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{$node[\"Switch\"].json.callback_query.from.id}}",
        "text": "={{ \"📸 ЗАХИАЛГА #\" + ($node[\"Switch\"].json.callback_query.message.text.match(/#(\\d+)/)?.[1] || \"\") + \"\\nЗураг REPLY хийж ГАРГАСАН гарын үсэг зурна уу.\" }}",
        "additionalFields": {
          "reply_to_message_id": "={{$node[\"Switch\"].json.callback_query.message.message_id}}"
        }
      },
      "id": "9165ae19-06c1-4e03-99d1-2fd43540a415",
      "name": "Гаргасан гарын үсэг1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        21504,
        6704
      ],
      "webhookId": "d5c4009a-6a8a-4191-8162-2da51f3a4c25",
      "credentials": {
        "telegramApi": {
          "id": "cUU1UFjZzLihaeUk",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "leftValue": "={{ $json.callback_query?.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "name": "filter.operator.notEmpty"
              },
              "id": "callback-check"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a0731c3f-7b38-4938-8a52-47d65852db20",
      "name": "Route Update Type",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        20832,
        7072
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "booqable-document-created",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        20608,
        6064
      ],
      "id": "8a32312c-8ad6-4c82-9151-4c8108b1c2c5",
      "name": "Booqable Webhook",
      "webhookId": "e7bbaac0-8f4d-41f0-8ebc-6fc8854e7612"
    },
    {
      "parameters": {
        "jsCode": "const payload = $json.body || {};\nconst doc = payload.data || {};\nconst order = doc.order || {};\nconst customer = doc.customer || {};\nconst lines = Array.isArray(doc.lines) ? doc.lines : [];\n\nif (doc.document_type !== 'contract') return [];\n\nconst isConfirmed =\n  doc.confirmed === true ||\n  String(doc.status || '').toLowerCase() === 'confirmed';\n\nif (!isConfirmed) return [];\n\nfunction formatMoney(cents) {\n  return Number(cents || 0) / 100;\n}\n\nfunction formatDateRaw(dateStr) {\n  if (!dateStr) return '';\n  const s = String(dateStr);\n  const m = s.match(/^(\\d{4}-\\d{2}-\\d{2})[T ](\\d{2}):(\\d{2})/);\n  if (!m) return s;\n\n  const dayNames = ['Ням', 'Дав', 'Мяг', 'Лха', 'Пүр', 'Баа', 'Бям'];\n  const dt = new Date(dateStr);\n  const dow = isNaN(dt.getTime()) ? '' : ' ' + dayNames[dt.getUTCDay()];\n\n  return `${m[1]} ${m[2]}:${m[3]}${dow}`;\n}\n\nfunction formatDateUB(dateStr) {\n  if (!dateStr) return '';\n  const date = new Date(dateStr);\n  if (isNaN(date.getTime())) return '';\n\n  const ubTime = new Date(date.getTime() + 8 * 60 * 60 * 1000);\n  const yyyy = ubTime.getUTCFullYear();\n  const mm = String(ubTime.getUTCMonth() + 1).padStart(2, '0');\n  const dd = String(ubTime.getUTCDate()).padStart(2, '0');\n  const hh = String(ubTime.getUTCHours()).padStart(2, '0');\n  const min = String(ubTime.getUTCMinutes()).padStart(2, '0');\n\n  return `${yyyy}-${mm}-${dd} ${hh}:${min}`;\n}\n\nfunction cleanMultiline(text) {\n  return String(text || '')\n    .replace(/\\r/g, '')\n    .split('\\n')\n    .map(s => s.trim())\n    .filter(Boolean)\n    .join(', ');\n}\n\nfunction getProp(obj, keys) {\n  const props = (obj && obj.properties) ? obj.properties : {};\n  for (const key of keys) {\n    const value = props[key];\n    if (value !== undefined && value !== null && String(value).trim() !== '') {\n      return String(value).trim();\n    }\n  }\n  return '';\n}\n\nfunction mapOrderStatus(status) {\n  const map = {\n    draft: 'Ноорог',\n    new: 'Шинэ',\n    reserved: 'Баталгаажсан',\n    started: 'Гарсан',\n    stopped: 'Буцсан',\n    canceled: 'Цуцлагдсан',\n  };\n  return map[status] || status || '';\n}\n\nfunction mapPaymentStatus(status) {\n  const map = {\n    paid: 'Бүрэн төлсөн',\n    partially_paid: 'Хэсэгчлэн төлсөн',\n    payment_due: 'Төлбөр дутуу',\n    unpaid: 'Төлөөгүй',\n    refunded: 'Буцаалт хийсэн',\n  };\n  return map[status] || status || '';\n}\n\nfunction mapFulfillmentType(type) {\n  const map = {\n    pickup: 'Ирж авна',\n    delivery: 'Хүргэлт',\n    shipping: 'Тээвэрлэлт',\n  };\n  return map[type] || type || '';\n}\n\nfunction getRentalDurationFromDates(doc, order) {\n  const start = new Date(doc.starts_at || order.starts_at || '');\n  const stop = new Date(doc.stops_at || order.stops_at || '');\n\n  if (isNaN(start.getTime()) || isNaN(stop.getTime())) return '';\n\n  const diffMs = stop - start;\n  if (diffMs < 0) return '';\n\n  const totalMinutes = Math.floor(diffMs / (1000 * 60));\n  const days = Math.floor(totalMinutes / (60 * 24));\n  const hours = Math.floor((totalMinutes % (60 * 24)) / 60);\n  const minutes = totalMinutes % 60;\n\n  const parts = [];\n  if (days > 0) parts.push(`${days} хоног`);\n  if (hours > 0) parts.push(`${hours} цаг`);\n  if (minutes > 0) parts.push(`${minutes} минут`);\n\n  return parts.join(' ') || '0 минут';\n}\n\nconst orderId = String(order.id || '');\nconst contractNumber = String(doc.number || '');\nconst orderNumber = String(order.number || '');\nconst customerName = customer.name || doc.name || '';\n\nconst companyReg = getProp(order, [\n  '17494',\n  '15239',\n  'company_register',\n  'register_number',\n  'rd'\n]);\n\nconst phone = getProp(customer, ['phone', 'phone_number', 'mobile']);\nconst email = customer.email || '';\n\nconst rawAddress =\n  getProp(customer, ['main_address', 'address']) ||\n  order.delivery_address ||\n  doc.address ||\n  '';\n\nconst address = cleanMultiline(rawAddress);\n\nconst startDateRaw = doc.starts_at || order.starts_at || '';\nconst stopDateRaw = doc.stops_at || order.stops_at || '';\n\nconst startDate = formatDateRaw(startDateRaw);\nconst stopDate = formatDateRaw(stopDateRaw);\n\nconst itemDetails = lines.length\n  ? lines\n      .map((line, i) => {\n        const qty = Number(line.quantity || 0);\n        const charge = line.charge_label ? ` (${line.charge_label})` : '';\n        return `${i + 1}. ${line.title || 'Бараа'} x${qty}${charge}`;\n      })\n      .join('\\n')\n  : '';\n\nconst rentalDuration = getRentalDurationFromDates(doc, order);\n\nconst totalItemCount =\n  lines.length > 0\n    ? lines.reduce((sum, l) => sum + Number(l.quantity || 0), 0)\n    : Number(order.item_count || 0);\n\n// Санхүү\nconst depositCents = Number(order.deposit_in_cents || doc.deposit_in_cents || 0);\n\nconst paidCents = Number(\n  order.total_paid_in_cents ||\n    order.amount_paid_in_cents ||\n    doc.paid_in_cents ||\n    0\n);\n\nconst balanceCents = Number(\n  order.total_to_be_paid_in_cents ||\n    order.to_be_paid_in_cents ||\n    0\n);\n\nconst totalDiscountCents = Number(\n  order.total_discount_in_cents ||\n    doc.total_discount_in_cents ||\n    0\n);\n\nconst totalNoVATCents = Number(\n  doc.grand_total_in_cents ||\n    order.grand_total_in_cents ||\n    0\n);\n\nconst vatCents = Number(\n  doc.tax_in_cents ||\n    order.tax_in_cents ||\n    0\n);\n\nconst totalWithVATCents = Number(\n  doc.grand_total_with_tax_in_cents ||\n    order.grand_total_with_tax_in_cents ||\n    0\n);\n\nconst depositToRefundCents = Number(\n  order.deposit_to_refund_in_cents ||\n    doc.deposit_to_refund_in_cents ||\n    0\n);\n\nconst paymentStatus = mapPaymentStatus(order.payment_status);\nconst orderStatus = mapOrderStatus(order.status);\nconst fulfillmentType = mapFulfillmentType(order.fulfillment_type);\n\nconst contractDate = formatDateUB(\n  doc.updated_at || payload.created_at || doc.created_at\n);\n\nconst depositRefundAccount = getProp(order, [\n  '10700',\n  'deposit_refund_account',\n  'refund_account',\n  'bank_account'\n]);\n\nreturn [\n  {\n    json: {\n      'Order ID': orderId,\n      'Захиалга №': orderNumber,\n      'Гэрээний №': contractNumber,\n      'Харилцагч нэр': customerName,\n      'байгууллагын РД:': companyReg,\n      'Утас': phone,\n      'email': email,\n      'Хаяг': address,\n      'Эхлэх огноо raw': startDateRaw,\n      'Буцах огноо raw': stopDateRaw,\n      'Гарах огноо': startDate,\n      'Буцах огноо': stopDate,\n      'Хүлээлгэн өгөх төрөл': fulfillmentType,\n      'Барааны дэлгэрэнгүй': itemDetails,\n      'Түрээсийн Хугацаа': rentalDuration,\n      'Нийт барааны тоо': totalItemCount,\n\n      'Барьцаа (₮)': formatMoney(depositCents),\n      'Барьцаа буцаах дүн (₮)': formatMoney(depositToRefundCents),\n      'Нийт дүн (₮)': totalNoVATCents > 0 ? formatMoney(totalNoVATCents) : '',\n      'НӨАТ (₮)': vatCents > 0 ? formatMoney(vatCents) : '',\n      'Нийт дүн (НӨАТтай)': totalWithVATCents > 0 ? formatMoney(totalWithVATCents) : '',\n      'Төлсөн дүн (₮)': formatMoney(paidCents),\n      'Үлдэгдэл (₮)': formatMoney(balanceCents),\n\n      'Нийт хямдрал': formatMoney(totalDiscountCents),\n      'Төлбөрийн статус': paymentStatus,\n      'Барьцаа буцаах данс': depositRefundAccount,\n      'Гэрээний төлөв': 'Баталгаажсан',\n      'Гэрээ огноо': contractDate,\n      'Захиалгын статус': orderStatus,\n    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        20832,
        6064
      ],
      "id": "32f2252a-06c5-422e-a5dc-735d1e0468cc",
      "name": "Payload боловсруулах"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1PQgDjjDzeVZ8bzGj-KGnFALBCio7AhoP3gFr2z42e7s",
          "mode": "list",
          "cachedResultName": "M_EVENT_Google_Sheet_Structure"
        },
        "sheetName": {
          "__rl": true,
          "value": 1178724000,
          "mode": "list",
          "cachedResultName": "Orders"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Захиалга №": "={{ $json['Захиалга №'] }}",
            "Гэрээний №": "={{ $json['Гэрээний №'] }}",
            "Харилцагч нэр": "={{ $json['Харилцагч нэр'] }}",
            "байгууллагын РД:": "={{ $json['байгууллагын РД:'] }}",
            "Утас": "={{ $json['Утас'] }}",
            "email": "={{ $json['email'] }}",
            "Хаяг": "={{ $json['Хаяг'] }}",
            "Гарах огноо": "={{ $json['Гарах огноо'] }}",
            "Буцах огноо": "={{ $json['Буцах огноо'] }}",
            "Барааны дэлгэрэнгүй": "={{ $json['Барааны дэлгэрэнгүй'] }}",
            "Түрээсийн Хугацаа": "={{ $json['Түрээсийн Хугацаа'] }}",
            "Нийт барааны тоо": "={{ $json['Нийт барааны тоо'] }}",
            "Төлсөн дүн (₮)": "={{ $json[\"Төлсөн дүн (₮)\"] }}",
            "Үлдэгдэл (₮)": "={{ $json[\"Үлдэгдэл (₮)\"] }}",
            "Барьцаа (₮)": "={{ $json[\"Барьцаа (₮)\"] }}",
            "Нийт хямдрал": "={{ $json['Нийт хямдрал'] }}",
            "Төлбөрийн статус": "={{ $json['Төлбөрийн статус'] }}",
            "Барьцаа буцаах данс": "={{ $json['Барьцаа буцаах данс'] }}",
            "Гэрээний төлөв": "={{ $json['Гэрээний төлөв'] }}",
            "Гэрээ огноо": "={{ $json['Гэрээ огноо'] }}",
            "Захиалгын статус": "={{ $json['Захиалгын статус'] }}",
            "Нөат": "={{ $json[\"НӨАТ (₮)\"] }}",
            "Нөат-гүй дүн": "={{ $json[\"Нийт дүн (₮)\"] }}",
            "Нөат-тэй нийт дүн": "={{ $json[\"Нийт дүн (НӨАТтай)\"] }}",
            "Захиалгын ID": "={{ $json[\"Order ID\"] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Захиалгын ID",
              "displayName": "Захиалгын ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Захиалга №",
              "displayName": "Захиалга №",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Гэрээний №",
              "displayName": "Гэрээний №",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Харилцагч нэр",
              "displayName": "Харилцагч нэр",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "байгууллагын РД:",
              "displayName": "байгууллагын РД:",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Утас",
              "displayName": "Утас",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Хаяг",
              "displayName": "Хаяг",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Гарах огноо",
              "displayName": "Гарах огноо",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Буцах огноо",
              "displayName": "Буцах огноо",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Барааны дэлгэрэнгүй",
              "displayName": "Барааны дэлгэрэнгүй",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Түрээсийн Хугацаа",
              "displayName": "Түрээсийн Хугацаа",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Нийт барааны тоо",
              "displayName": "Нийт барааны тоо",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Төлсөн дүн (₮)",
              "displayName": "Төлсөн дүн (₮)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Үлдэгдэл (₮)",
              "displayName": "Үлдэгдэл (₮)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Барьцаа (₮)",
              "displayName": "Барьцаа (₮)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Нөат-гүй дүн",
              "displayName": "Нөат-гүй дүн",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Нөат",
              "displayName": "Нөат",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Нөат-тэй нийт дүн",
              "displayName": "Нөат-тэй нийт дүн",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Нийт хямдрал",
              "displayName": "Нийт хямдрал",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Төлбөрийн статус",
              "displayName": "Төлбөрийн статус",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Барьцаа буцаах данс",
              "displayName": "Барьцаа буцаах данс",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Гэрээний төлөв",
              "displayName": "Гэрээний төлөв",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Гэрээ огноо",
              "displayName": "Гэрээ огноо",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Захиалгын статус",
              "displayName": "Захиалгын статус",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "48 цаг мэдэгдэл",
              "displayName": "48 цаг мэдэгдэл",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "24 цаг мэдэгдэл",
              "displayName": "24 цаг мэдэгдэл",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        21056,
        6064
      ],
      "id": "21f41c0f-6c67-4136-851c-8a0a415d0fb2",
      "name": "Санхүүгийн тайлан",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "k4p4OIdOAsaZgnRH",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        20608,
        6384
      ],
      "id": "62db6aba-4879-4af3-b277-cf811b96b89c",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "",
          "cachedResultUrl": ""
        },
        "sheetName": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "",
          "cachedResultUrl": ""
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        20832,
        6288
      ],
      "id": "5c46e75f-8320-4d65-ab42-7de73069a709",
      "name": "Orders уншина",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "SHTxoHzAR503CTng",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Iv3N5Id5z8SuIWSdfGkzNXlZiRJPWJC4As47px7_HPI",
          "mode": "list",
          "cachedResultName": "Telegram ажилчид"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        20832,
        6480
      ],
      "id": "e99a1651-26d3-4d6d-8199-345e5dfca7f7",
      "name": "Telegram ажилчид",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "k4p4OIdOAsaZgnRH",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        21056,
        6384
      ],
      "id": "f1af08ea-a7dc-416e-8461-03902ca70c8f",
      "name": "Merge Orders + Ажилчид"
    },
    {
      "parameters": {
        "jsCode": "const rows = items;\n\nconst orders = rows\n  .filter(r => r.json['Захиалга №'] !== undefined)\n  .map(r => r.json);\n\nconst staff = rows\n  .filter(r => r.json['Chat ID'] !== undefined)\n  .map(r => r.json);\n\nfunction parseStartDate(startStr) {\n  if (!startStr) return null;\n\n  const m1 = String(startStr).match(/(\\d{4}-\\d{2}-\\d{2})\\s+(\\d{2}:\\d{2})/);\n  if (m1) {\n    return new Date(`${m1[1]}T${m1[2]}:00+08:00`);\n  }\n\n  const m2 = String(startStr).match(/(\\d{4}).*?(\\d{1,2})-р сарын\\s+(\\d{1,2}).*?(\\d{2}:\\d{2})/);\n  if (m2) {\n    return new Date(\n      `${m2[1]}-${String(m2[2]).padStart(2, '0')}-${String(m2[3]).padStart(2, '0')}T${m2[4]}:00+08:00`\n    );\n  }\n\n  const m3 = String(startStr).match(/(\\d{1,2}) сар (\\d{1,2}).*?(\\d{2}:\\d{2})/);\n  if (m3) {\n    const year = new Date().getFullYear();\n    return new Date(\n      `${year}-${String(m3[1]).padStart(2, '0')}-${String(m3[2]).padStart(2, '0')}T${m3[3]}:00+08:00`\n    );\n  }\n\n  return null;\n}\n\nfunction buildTimeText(startDate) {\n  if (!startDate || isNaN(startDate.getTime())) {\n    return 'хугацаа тодорхойгүй';\n  }\n\n  const now = new Date();\n  let diffMs = startDate.getTime() - now.getTime();\n  const isFuture = diffMs >= 0;\n  diffMs = Math.abs(diffMs);\n\n  const totalHours = Math.floor(diffMs / (1000 * 60 * 60));\n  const days = Math.floor(totalHours / 24);\n  const hours = totalHours % 24;\n\n  const parts = [];\n  if (days > 0) parts.push(`${days} өдөр`);\n  if (hours > 0) parts.push(`${hours} цаг`);\n  if (parts.length === 0) parts.push('удахгүй');\n\n  return `${parts.join(' ')} ${isFuture ? 'дараа' : 'өмнө'}`;\n}\n\nfunction escapeHtml(text) {\n  return String(text)\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;');\n}\n\nconst results = [];\nconst now = new Date();\n\nfor (const order of orders) {\n  const orderNum = String(order['Захиалга №'] || '').trim();\n  if (!orderNum) continue;\n\n  const startStr = order['Гарах огноо'] || '';\n  const startDate = parseStartDate(startStr);\n  if (!startDate || isNaN(startDate.getTime())) continue;\n\n  const diffHours = (startDate.getTime() - now.getTime()) / (1000 * 60 * 60);\n\n  if (diffHours < 0) continue;\n  if (diffHours > 48) continue;\n\n  const status = String(order['Захиалгын статус'] || '').toLowerCase();\n  if (\n    status.includes('цуц') ||\n    status.includes('буцсан') ||\n    status.includes('cancel')\n  ) {\n    continue;\n  }\n\n  let reminderType = null;\n\n  const reminded48 = String(order['48 цаг мэдэгдэл'] || '').trim().toLowerCase();\n  const reminded24 = String(order['24 цаг мэдэгдэл'] || '').trim().toLowerCase();\n\n  if (diffHours > 24 && diffHours <= 48) {\n    if (reminded48 !== 'тийм') {\n      reminderType = '48';\n    }\n  } else if (diffHours >= 0 && diffHours <= 24) {\n    if (reminded24 !== 'тийм') {\n      reminderType = '24';\n    }\n  }\n\n  if (!reminderType) continue;\n\n  const custName = order['Харилцагч нэр'] || '';\n  const custPhone = order['Утас'] || '';\n  const address = order['Хаяг'] || '';\n  const stopDate = order['Буцах огноо'] || '';\n  const rentalDuration = order['Түрээсийн Хугацаа'] || '';\n  const paymentStatus = order['Төлбөрийн статус'] || '';\n\n  const rawProducts = String(order['Барааны дэлгэрэнгүй'] || '').trim();\n\n  const productLines = rawProducts\n    ? rawProducts\n        .split(/\\n+|\\s*,\\s*(?=\\d+\\.)/)\n        .map(s => s.trim())\n        .filter(Boolean)\n        .map(s => s.replace(/^\\d+\\.\\s*/, ''))\n        .map(line => {\n          const m = line.match(/^(.*?)\\s+x(\\d+)/i);\n          if (m) {\n            const name = m[1].replace(/\\s+/g, ' ').trim();\n            const qty = m[2].trim();\n            return `• ${name} ${qty}ш`;\n          }\n          return `• ${line.replace(/\\s+/g, ' ').trim()}`;\n        })\n        .join('\\n')\n    : '-';\n\n  const timeText = buildTimeText(startDate);\n\n  const msg = `⏳ ${escapeHtml(timeText)}\\n\\n🚚 Захиалга #${escapeHtml(orderNum)}\\n\\n👤 Захиалагч\\nНэр: ${escapeHtml(custName)}\\nУтас: ${escapeHtml(custPhone)}\\nХаяг: ${escapeHtml(address || '-')}\\n\\n📦 Бүтээгдэхүүн\\n${escapeHtml(productLines)}\\n\\n⏱ Түрээсийн хугацаа: ${escapeHtml(rentalDuration || '-')}\\n\\n📅 Эхлэх: ${escapeHtml(startStr)}\\n📅 Дуусах: ${escapeHtml(stopDate)}\\n\\n📌 Төлбөр: ${escapeHtml(paymentStatus)}`;\n\n  for (const s of staff) {\n    const chatId = s['Chat ID'];\n    if (!chatId) continue;\n    if (s['Идэвхтэй'] === false) continue;\n\n    results.push({\n      json: {\n        ...order,\n        _chat_id: chatId,\n        _staff_name: s['Нэр'] || '',\n        _reminder_type: reminderType,\n        telegram_text: msg\n      }\n    });\n  }\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        21280,
        6384
      ],
      "id": "d1a9e9e6-4d98-4209-8bc9-457959c88b6b",
      "name": "Шүүлтүүр + мессеж бүрдүүлэх"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1PQgDjjDzeVZ8bzGj-KGnFALBCio7AhoP3gFr2z42e7s",
          "mode": "list",
          "cachedResultName": "M_EVENT_Google_Sheet_Structure"
        },
        "sheetName": {
          "__rl": true,
          "value": 1178724000,
          "mode": "list",
          "cachedResultName": "Orders"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "48 цаг мэдэгдэл": "={{ $json._reminder_type === '48' ? 'Тийм' : ($json['48 цаг мэдэгдэл'] || '') }}",
            "24 цаг мэдэгдэл": "={{ $json._reminder_type === '24' ? 'Тийм' : ($json['24 цаг мэдэгдэл'] || '') }}",
            "Захиалгын ID": "={{ $json[\"Захиалгын ID\"] }}"
          },
          "matchingColumns": [
            "Захиалгын ID"
          ],
          "schema": [
            {
              "id": "Захиалгын ID",
              "displayName": "Захиалгын ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Захиалга №",
              "displayName": "Захиалга №",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Гэрээний №",
              "displayName": "Гэрээний №",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Харилцагч нэр",
              "displayName": "Харилцагч нэр",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "байгууллагын РД:",
              "displayName": "байгууллагын РД:",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Утас",
              "displayName": "Утас",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Хаяг",
              "displayName": "Хаяг",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Гарах огноо",
              "displayName": "Гарах огноо",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Буцах огноо",
              "displayName": "Буцах огноо",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Барааны дэлгэрэнгүй",
              "displayName": "Барааны дэлгэрэнгүй",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Түрээсийн Хугацаа",
              "displayName": "Түрээсийн Хугацаа",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Нийт барааны тоо",
              "displayName": "Нийт барааны тоо",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Төлсөн дүн (₮)",
              "displayName": "Төлсөн дүн (₮)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Үлдэгдэл (₮)",
              "displayName": "Үлдэгдэл (₮)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Барьцаа (₮)",
              "displayName": "Барьцаа (₮)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Нөат-гүй дүн",
              "displayName": "Нөат-гүй дүн",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Нөат",
              "displayName": "Нөат",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Нөат-тэй нийт дүн",
              "displayName": "Нөат-тэй нийт дүн",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Нийт хямдрал",
              "displayName": "Нийт хямдрал",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Төлбөрийн статус",
              "displayName": "Төлбөрийн статус",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Барьцаа буцаах данс",
              "displayName": "Барьцаа буцаах данс",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Гэрээний төлөв",
              "displayName": "Гэрээний төлөв",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Гэрээ огноо",
              "displayName": "Гэрээ огноо",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Захиалгын статус",
              "displayName": "Захиалгын статус",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "48 цаг мэдэгдэл",
              "displayName": "48 цаг мэдэгдэл",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "24 цаг мэдэгдэл",
              "displayName": "24 цаг мэдэгдэл",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        21728,
        6480
      ],
      "id": "88f97b55-e23f-4c93-a67d-2a92d6ae6bea",
      "name": "Мэдэгдсэн гэж тэмдэглэх",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "k4p4OIdOAsaZgnRH",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json._chat_id }}",
        "text": "={{ $json.telegram_text }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "📦 Гаргасан",
                    "additionalFields": {
                      "callback_data": "dispatch"
                    }
                  },
                  {
                    "text": "🚚 Хүргэсэн",
                    "additionalFields": {
                      "callback_data": "delivery"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "0170644d-2747-4935-891f-e302f7669e9d",
      "name": "Telegram мэдэгдэл явуулна1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        21728,
        6288
      ],
      "webhookId": "9e3e7fae-bcbe-4d60-a6b9-a9f6caad8162",
      "credentials": {
        "telegramApi": {
          "id": "cUU1UFjZzLihaeUk",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const seen = new Set();\nconst results = [];\n\nfor (const item of $input.all()) {\n  const row = item.json;\n  const key = `${row['Захиалга №']}_${row._reminder_type}_${row._chat_id}`;\n\n  if (!seen.has(key)) {\n    seen.add(key);\n    results.push({ json: row });\n  }\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        21504,
        6384
      ],
      "id": "1bd3abf0-2a14-4048-ac16-74bc348d2997",
      "name": "Давхардал арилгах"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1PQgDjjDzeVZ8bzGj-KGnFALBCio7AhoP3gFr2z42e7s",
          "mode": "list",
          "cachedResultName": "M_EVENT_Google_Sheet_Structure"
        },
        "sheetName": {
          "__rl": true,
          "value": 1178724000,
          "mode": "list",
          "cachedResultName": "📋 Гарах захиалга",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PQgDjjDzeVZ8bzGj-KGnFALBCio7AhoP3gFr2z42e7s/edit#gid=1178724000"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Захиалгын статус": "={{ $json.action_type }}",
            "Захиалга №": "={{ $json.order_number }}"
          },
          "matchingColumns": [
            "Захиалга №"
          ],
          "schema": [
            {
              "id": "Захиалгын ID",
              "displayName": "Захиалгын ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Захиалга №",
              "displayName": "Захиалга №",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Гэрээний №",
              "displayName": "Гэрээний №",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Харилцагч нэр",
              "displayName": "Харилцагч нэр",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "байгууллагын РД:",
              "displayName": "байгууллагын РД:",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Утас",
              "displayName": "Утас",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Хаяг",
              "displayName": "Хаяг",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Гарах огноо",
              "displayName": "Гарах огноо",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Буцах огноо",
              "displayName": "Буцах огноо",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Барааны дэлгэрэнгүй",
              "displayName": "Барааны дэлгэрэнгүй",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Түрээсийн Хугацаа",
              "displayName": "Түрээсийн Хугацаа",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Нийт барааны тоо",
              "displayName": "Нийт барааны тоо",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Төлсөн дүн (₮)",
              "displayName": "Төлсөн дүн (₮)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Үлдэгдэл (₮)",
              "displayName": "Үлдэгдэл (₮)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Барьцаа (₮)",
              "displayName": "Барьцаа (₮)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Нөат-гүй дүн",
              "displayName": "Нөат-гүй дүн",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Нөат",
              "displayName": "Нөат",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Нөат-тэй нийт дүн",
              "displayName": "Нөат-тэй нийт дүн",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Нийт хямдрал",
              "displayName": "Нийт хямдрал",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Төлбөрийн статус",
              "displayName": "Төлбөрийн статус",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Барьцаа буцаах данс",
              "displayName": "Барьцаа буцаах данс",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Гэрээний төлөв",
              "displayName": "Гэрээний төлөв",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Гэрээ огноо",
              "displayName": "Гэрээ огноо",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Захиалгын статус",
              "displayName": "Захиалгын статус",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "48 цаг мэдэгдэл",
              "displayName": "48 цаг мэдэгдэл",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "24 цаг мэдэгдэл",
              "displayName": "24 цаг мэдэгдэл",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        21280,
        7568
      ],
      "id": "22970ad0-378a-4fd9-b877-f00b7d5f2333",
      "name": "Хүлээлгэн өгөх төлөв шинчлэлт",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "k4p4OIdOAsaZgnRH",
          "name": "Google Sheets OAuth2 API"
        }
      }
    }
  ],
  "pinData": {
    "Booqable Webhook": [
      {
        "json": {
          "headers": {
            "host": "chimun.app.n8n.cloud",
            "user-agent": "Booqable Webhooks",
            "content-length": "17915",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "baggage": "sentry-environment=production,sentry-release=26.4.72,sentry-public_key=6c2d907193364be6b2c535b5df7ba868,sentry-trace_id=ae43af04ecf24b97902de950c25a00a1,sentry-org_id=45347,sentry-sampled=true,sentry-sample_rand=0.017457643121424504,sentry-sample_rate=0.05",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "18.206.214.125",
            "cf-ew-via": "15",
            "cf-ipcountry": "US",
            "cf-ray": "9eb09fcf4893b296-IAD",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "sentry-trace": "ae43af04ecf24b97902de950c25a00a1-a1c9dbf057ca4b75-1",
            "x-forwarded-for": "18.206.214.125, 162.158.78.134",
            "x-forwarded-host": "chimun.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-59-678f9f8554-gnd2h",
            "x-is-trusted": "yes",
            "x-real-ip": "18.206.214.125"
          },
          "params": {},
          "query": {},
          "body": {
            "id": "cf0bc81a-e1ef-4f1e-b19c-49b71277386e",
            "created_at": "2026-04-12T07:47:39.728012+00:00",
            "updated_at": "2026-04-12T07:47:39.728012+00:00",
            "event": "contract.confirmed",
            "version": 4,
            "resource_type": "documents",
            "data": {
              "id": "447ad82a-3362-4db1-b47d-b2b991fc4162",
              "created_at": "2026-04-12T07:46:01.445668+00:00",
              "updated_at": "2026-04-12T07:47:39.614144+00:00",
              "archived": false,
              "archived_at": null,
              "document_type": "contract",
              "number": 1157,
              "prefix": "",
              "prefix_with_number": "1157",
              "revision": null,
              "date": "2026-04-12",
              "due_date": null,
              "name": "test",
              "address": "яармаг\nMongolia",
              "body": "<p><strong>НЭГ. ГЭРЭЭНИЙ ЗҮЙЛ</strong></p>\n<p>1.1. Түрээслүүлэгч нь дээр заасан бараа, төхөөрөмжийг хэрэглэгчид түр хугацаагаар ашиглуулна. Хэрэглэгч зөвхөн ашиглах эрхтэй, өмчлөх эрх шилжихгүй.</p>\n<p>1.2. Гэрээний нэмэлт өөрчлөлтийг талууд харилцан тохиролцож бичгээр баталгаажуулна.</p>\n<p><strong>ХОЁР. ТӨЛБӨР БА БАРЬЦАА</strong></p>\n<p>2.1. Түрээсийн төлбөр болон барьцааг гэрээ хүчин төгөлдөр болохоос өмнө бүрэн төлнө.</p>\n<p>2.2. Барьцаа төлбөрийг төхөөрөмжийг бүрэн бүтэн, хэт бохирдолгүй, иж бүрдэл бүрэн буцаасан тохиолдолд буцаан олгоно.</p>\n<p>2.3. Барьцааг төхөөрөмж буцаасан өдрөөс хойш ажлын 3 хоногийн дотор хэрэглэгчийн заасан данс руу буцаана.</p>\n<p>2.4. Дараах нөхцөлд барьцаанаас суутгал хийнэ: хугацаа хэтрүүлсэн, эвдрэл гэмтэл гарсан, иж бүрдэл дутсан, хэт бохирдолтой&nbsp;буцаасан, засвар тээврийн нэмэлт зардал гарсан.</p>\n<p><strong>ГУРАВ. ХУГАЦАА СУНГАХ</strong></p>\n<p>3.1. Хугацаа сунгах бол дор хаяж 24 цагийн өмнө мэдэгдэж нэмэлт төлбөр төлнө.</p>\n<p>3.2. Мэдэгдэлгүй хэтрүүлсэн тохиолдолд нэмэлт хоногийн төлбөрийг барьцаанаас суутгана.</p>\n<p><strong>ДӨРӨВ. ХЭРЭГЛЭГЧИЙН ҮҮРЭГ</strong></p>\n<p>4.1. Хэрэглэгч төхөөрөмжийг зориулалтын дагуу зөв, аюулгүй орчинд ашиглаж хадгална.</p>\n<p>4.2. Эвдрэл гэмтэл гарвал 24 цагийн дотор мэдэгдэнэ.</p>\n<p>4.3. Дараах үйлдлийг хориглоно: гуравдагч этгээдэд дамжуулах, зөвшөөрөлгүй задлах, засварлах, өөрчлөх, зориулалтын бусаар ашиглах.</p>\n<p>4.4. Төхөөрөмжийг гэрээнд заасан хугацаанд бүрэн бүтэн, хэт бохирдолгүй, иж бүрдэл бүрэн буцаана.</p>\n<p><strong>ТАВ. ЭВДРЭЛ АЛДАГДЛЫН ХАРИУЦЛАГА</strong></p>\n<p>5.1. Хэрэглэгчийн эзэмшил, ашиглалтын хугацаанд гарсан аливаа эвдрэл, гэмтэл, алдагдлыг хэрэглэгч бүрэн хариуцна. Үүнд хэрэглэгчийн ажилтан, зочин, гуравдагч этгээдийн үйлдлээс үүссэн эвдрэл мөн хамаарна.</p>\n<p>5.2. Засварлах боломжтой эвдрэлийн засварын зардлыг хэрэглэгч хариуцна.</p>\n<p>5.3. Засварлах боломжгүй эвдрэл болон бараа, төхөөрөмж алдагдсан тохиолдолд тухайн бараа, төхөөрөмжийн \"барааны үнэлгээнд\" заасан дүнг үл маргах журмаар бүрэн нөхөн төлнө.</p>\n<p>5.4. Түрээслүүлэгч нь төхөөрөмж ашигласнаас үүдсэн шууд бус хохирол, ашиг орлогын алдагдлыг хариуцахгүй.</p>\n<p>5.5. Байгалийн нөхцөл, гуравдагч этгээдийн үйлдэл, осол, гэмтэл зэрэг аливаа шалтгаанаас үүссэн эвдрэл, алдагдлыг хэрэглэгч бүрэн хариуцна.</p>\n<p><strong>ЗУРГАА. ТӨХӨӨРӨМЖ ХҮЛЭЭЛЦЭХ ЖУРАМ</strong></p>\n<p>6.1. Хүлээлгэн өгөх болон буцаах үед хоёр талын төлөөлөл бараа, төхөөрөмжийг   бүрэн бүтэн байдал, хэвийн ажиллагаа, иж бүрдэл бүрэн эсэхийг шалгаж баталгаажуулна.</p>\n<p><strong>ДОЛОО. МАРГААН ШИЙДВЭРЛЭХ</strong></p>\n<p>7.1. Гэрээтэй холбоотой маргааныг талууд харилцан зөвшилцөх замаар шийдвэрлэнэ.<br>7.2. Зөвшилцөлд хүрээгүй тохиолдолд Монгол Улсын Хууль тогтоомжийн дагуу шийдвэрлэнэ.</p>\n<p><strong>НАЙМ. БУСАД</strong></p>\n<p>8.1. Гэрээний өөрчлөлтийг бичгээр баталгаажуулна.</p>\n<p>8.2. Гэрээ нь талууд гарын үсэг зурж, төлбөр бүрэн төлөгдсөн өдрөөс хүчин төгөлдөр болно.</p>\n<p dir=\"ltr\"></p><p></p>\n\n\n<p dir=\"ltr\"><b>ХАВСРАЛТ №2 — ТОНОГ ТӨХӨӨРӨМЖИЙН БАЙДЛЫН ҮНЭЛГЭЭ</b></p>\n<p dir=\"ltr\"></p>\n<p dir=\"ltr\"><b>А. ХҮЛЭЭЛГЭН ӨГӨХ — Хэрэглэгч хүлээн авах үеийн шалгалт</b></p>\n<p></p>\n<table><tbody><tr><td><b>№</b><br></td><td><b>Шалгах зүйлс</b><br></td><td><b>Байдал (✓/✗)</b><br></td><td><b>Тайлбар</b><br></td></tr><tr><td>1<br></td><td>Бүрэн бүтэн байдал<br></td><td><br></td><td><br></td></tr><tr><td>2<br></td><td>Ажиллагаа хэвийн эсэх<br></td><td><br></td><td><br></td></tr><tr><td>3<br></td><td>Иж бүрдэл бүрэн эсэх<br></td><td><br></td><td><br></td></tr><tr><td>4<br></td><td>Гадна өнгө үзэмж цэвэр эсэх<br></td><td><br></td><td><br></td></tr></tbody></table>\n<p></p>\n<p dir=\"ltr\"></p><p dir=\"ltr\"><b>ГЭРЭЭ БАЙГУУЛСАН</b></p>\n<table><tbody><tr><td><b>ТҮРЭЭСЛҮҮЛЭГЧ:</b><br>Бараа, төхөөрөмжийн түрээс борлуулалт&nbsp; хариуцсан ажилтан:<br><br>Овог нэр: ______________________________<br>Гарын үсэг: _____________________________<br></td><td><b>ХЭРЭГЛЭГЧ:</b><br><br>Овог нэр: ______________________________<br>Гарын үсэг: _____________________________<br></td></tr></tbody></table>\n<p></p>\n<p dir=\"ltr\">Шалгаад хүлээлгэн өгсөн&nbsp; Ажилтан : &nbsp; Овог нэр: ___________________ &nbsp; Гарын үсэг: _______________________</p>\n<p>Сар...............Өдөр ................Цаг....................Минут...............</p>\n<p></p>\n<p dir=\"ltr\"><b>Б. БУЦААХ — Түрээслүүлэгч хүлээн авах үеийн шалгалт</b></p>\n<p></p>\n<table><tbody><tr><td><b>№</b><br></td><td><b>Шалгах зүйлс</b><br></td><td><b>Байдал (✓/✗)</b><br></td><td><b>Тайлбар</b><br></td></tr><tr><td>1<br></td><td>Бүрэн бүтэн байдал<br></td><td><br></td><td><br></td></tr><tr><td>2<br></td><td>Ажиллагаа хэвийн эсэх<br></td><td><br></td><td><br></td></tr><tr><td>3<br></td><td>Иж бүрдэл бүрэн эсэх<br></td><td><br></td><td><br></td></tr><tr><td>4<br></td><td>Гадна өнгө үзэмж цэвэр эсэх<br></td><td><br></td><td><br></td></tr></tbody></table>\n<p dir=\"ltr\"></p><p dir=\"ltr\">Шалгаад хүлээлгэн өгсөн&nbsp; Түрээслэгч&nbsp; &nbsp; &nbsp; : &nbsp; Овог нэр: ___________________ &nbsp; Гарын үсэг: _______________________</p>\n<p dir=\"ltr\">Хүлээн авсан — Түрээслүүлэгчийн төлөөлөл: &nbsp; Овог нэр: ___________________ &nbsp; Гарын үсэг: _______________________</p>\n<p>Сар..............Өдөр ..............Цаг....................Минут...................................</p>",
              "footer": "",
              "reference": null,
              "starts_at": "2026-04-13T09:00:00.000000+00:00",
              "stops_at": "2026-04-13T18:00:00.000000+00:00",
              "start_location_id": "fe076025-fd1e-49ce-8f74-ee8ccc47e03a",
              "stop_location_id": "fe076025-fd1e-49ce-8f74-ee8ccc47e03a",
              "revised": false,
              "finalized": true,
              "sent": false,
              "confirmed": true,
              "status": "confirmed",
              "signature_url": null,
              "deposit_type": "percentage_total",
              "deposit_value": 100,
              "tag_list": [],
              "price_in_cents": 50000000,
              "grand_total_in_cents": 40000000,
              "grand_total_with_tax_in_cents": 44000000,
              "discount_in_cents": 10000000,
              "coupon_discount_in_cents": 0,
              "total_discount_in_cents": 10000000,
              "deposit_in_cents": 50000000,
              "deposit_paid_in_cents": 0,
              "deposit_refunded_in_cents": 0,
              "deposit_held_in_cents": 0,
              "deposit_to_refund_in_cents": 0,
              "to_be_paid_in_cents": 0,
              "paid_in_cents": 0,
              "tax_in_cents": 4000000,
              "discount_type": "fixed",
              "discount_percentage": 20,
              "fulfillment_type": "pickup",
              "delivery_label": null,
              "delivery_price_in_cents": 0,
              "delivery_carrier_name": null,
              "delivery_address": null,
              "order_id": "1cb6bf9c-f379-467d-b059-e33f7d9e2088",
              "customer_id": "d0d38c80-0c65-42a1-aa5a-a0517a1500ad",
              "tax_region_id": "e26c76e2-1166-4f38-b6ec-e71b88e033c1",
              "coupon_id": null,
              "order": {
                "id": "1cb6bf9c-f379-467d-b059-e33f7d9e2088",
                "created_at": "2026-04-12T07:43:04.400660+00:00",
                "updated_at": "2026-04-12T07:46:14.060730+00:00",
                "number": 1158,
                "status": "reserved",
                "statuses": [
                  "reserved"
                ],
                "status_counts": {
                  "draft": 0,
                  "new": 0,
                  "reserved": 5,
                  "started": 0,
                  "stopped": 0
                },
                "starts_at": "2026-04-13T09:00:00.000000+00:00",
                "stops_at": "2026-04-13T18:00:00.000000+00:00",
                "deposit_type": "percentage_total",
                "deposit_value": 100,
                "entirely_started": false,
                "entirely_stopped": false,
                "location_shortage": false,
                "shortage": false,
                "payment_status": "paid",
                "override_period_restrictions": false,
                "has_signed_contract": false,
                "item_count": 5,
                "tag_list": [],
                "properties": {
                  "10700": "тэст данс",
                  "17494": "тест регистер",
                  "delivery_address": null,
                  "billing_address": null
                },
                "amount_in_cents": 44000000,
                "amount_paid_in_cents": 44000000,
                "amount_to_be_paid_in_cents": 0,
                "deposit_in_cents": 50000000,
                "deposit_held_in_cents": 0,
                "deposit_paid_in_cents": 50000000,
                "deposit_to_be_paid_in_cents": 0,
                "deposit_refunded_in_cents": 0,
                "deposit_to_refund_in_cents": 50000000,
                "total_in_cents": 94000000,
                "total_paid_in_cents": 94000000,
                "total_to_be_paid_in_cents": 0,
                "total_discount_in_cents": 10000000,
                "coupon_discount_in_cents": 0,
                "discount_in_cents": 10000000,
                "grand_total_in_cents": 40000000,
                "grand_total_with_tax_in_cents": 44000000,
                "paid_in_cents": 94000000,
                "price_in_cents": 50000000,
                "tax_in_cents": 4000000,
                "to_be_paid_in_cents": 0,
                "discount_type": "fixed",
                "discount_percentage": 20,
                "billing_address_property_id": null,
                "delivery_address_property_id": null,
                "fulfillment_type": "pickup",
                "delivery_address": null,
                "coupon_errors": null,
                "customer_id": "d0d38c80-0c65-42a1-aa5a-a0517a1500ad",
                "tax_region_id": "e26c76e2-1166-4f38-b6ec-e71b88e033c1",
                "coupon_id": null,
                "start_location_id": "fe076025-fd1e-49ce-8f74-ee8ccc47e03a",
                "stop_location_id": "fe076025-fd1e-49ce-8f74-ee8ccc47e03a",
                "order_delivery_rate_id": null
              },
              "customer": {
                "id": "d0d38c80-0c65-42a1-aa5a-a0517a1500ad",
                "created_at": "2026-04-12T07:43:49.153288+00:00",
                "updated_at": "2026-04-12T07:43:49.165339+00:00",
                "archived": false,
                "archived_at": null,
                "number": 1125,
                "name": "test",
                "email": "gmunkhuchral@gmail.com",
                "deposit_type": "percentage_total",
                "deposit_value": 100,
                "discount_percentage": 0,
                "legal_type": "commercial",
                "email_marketing_consented": false,
                "email_marketing_consent_updated_at": null,
                "order_count": 1,
                "revenue_in_cents": 40000000,
                "balance_due_in_cents": 0,
                "latest_order_at": "2026-04-12T07:43:04.400660+00:00",
                "average_order_value_in_cents": 40000000,
                "properties": {
                  "phone": "+97688006790",
                  "main_address": "яармаг\nMongolia"
                },
                "tag_list": [],
                "stripe_id": null,
                "merge_suggestion_customer_id": null,
                "tax_region_id": "e26c76e2-1166-4f38-b6ec-e71b88e033c1"
              },
              "coupon": null,
              "lines": [
                {
                  "id": "fa624a49-a9d5-4614-bea5-fb32f2d1acb9",
                  "created_at": "2026-04-12T07:46:01.455554+00:00",
                  "updated_at": "2026-04-12T07:46:01.455554+00:00",
                  "archived": false,
                  "archived_at": null,
                  "title": "COB  гэрэл",
                  "extra_information": "",
                  "quantity": 2,
                  "original_price_each_in_cents": 2500000,
                  "original_charge_length": null,
                  "original_charge_label": null,
                  "price_each_in_cents": 2500000,
                  "price_in_cents": 5000000,
                  "position": 1,
                  "nested_position": 0,
                  "charge_label": "1 хоног",
                  "charge_length": 86400,
                  "price_rule_values": null,
                  "discountable": true,
                  "taxable": true,
                  "line_type": "charge",
                  "relevant": true,
                  "order_id": null,
                  "item_id": "fae74679-0dd2-4ff7-9d75-9488c57de3a5",
                  "tax_category_id": null,
                  "price_structure_id": "e4b18911-8375-481a-b450-015f1d0ddb47",
                  "price_tile_id": "e99219fd-fbb3-4be7-a8b8-d6f99e43467b",
                  "planning_id": "3d17493e-f87d-48c8-a287-2811d1580d19",
                  "parent_line_id": null,
                  "bundle_item_id": null,
                  "owner_id": "447ad82a-3362-4db1-b47d-b2b991fc4162",
                  "owner_type": "documents"
                },
                {
                  "id": "e9e31a42-9f47-41d9-881d-f69e90459608",
                  "created_at": "2026-04-12T07:46:01.462129+00:00",
                  "updated_at": "2026-04-12T07:46:01.462129+00:00",
                  "archived": false,
                  "archived_at": null,
                  "title": "Bell tent 5 метр 6-8 хүний 2024он",
                  "extra_information": null,
                  "quantity": 3,
                  "original_price_each_in_cents": 15000000,
                  "original_charge_length": null,
                  "original_charge_label": null,
                  "price_each_in_cents": 15000000,
                  "price_in_cents": 45000000,
                  "position": 2,
                  "nested_position": 0,
                  "charge_label": "1 24 цаг",
                  "charge_length": 86400,
                  "price_rule_values": null,
                  "discountable": true,
                  "taxable": true,
                  "line_type": "charge",
                  "relevant": true,
                  "order_id": null,
                  "item_id": "aba2b870-a20d-42c5-bf17-b4774651e257",
                  "tax_category_id": null,
                  "price_structure_id": null,
                  "price_tile_id": null,
                  "planning_id": "a53299f7-48a7-42e7-9a6e-bd18946eb422",
                  "parent_line_id": null,
                  "bundle_item_id": null,
                  "owner_id": "447ad82a-3362-4db1-b47d-b2b991fc4162",
                  "owner_type": "documents"
                }
              ],
              "tax_values": [
                {
                  "id": "26a6d0ee-c948-4690-bf52-193ebd1e6a8c",
                  "created_at": "2026-04-12T07:46:01.451385+00:00",
                  "updated_at": "2026-04-12T07:46:01.451385+00:00",
                  "name": "НӨАТ",
                  "percentage": 10,
                  "value_in_cents": 4000000,
                  "tax_rate_id": "2ca292ea-2bad-4867-a478-23a979bd003b",
                  "owner_id": "447ad82a-3362-4db1-b47d-b2b991fc4162",
                  "owner_type": "documents"
                }
              ]
            }
          },
          "webhookUrl": "https://chimun.app.n8n.cloud/webhook/booqable-document-created",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Unified Telegram Trigger": [
      {
        "json": {
          "update_id": 378853488,
          "message": {
            "message_id": 1111,
            "from": {
              "id": 1239646139,
              "is_bot": false,
              "first_name": "Munkhuchral",
              "last_name": "Ganbat",
              "username": "Markusdt",
              "language_code": "en"
            },
            "chat": {
              "id": 1239646139,
              "first_name": "Munkhuchral",
              "last_name": "Ganbat",
              "username": "Markusdt",
              "type": "private"
            },
            "date": 1776224030,
            "photo": [
              {
                "file_id": "AgACAgUAAxkBAAIEV2nfBx6Kk_n7EJxyR7DX7rNiUBA3AAKxD2sbEBD5Vp4iXHvCe7yKAQADAgADcwADOwQ",
                "file_unique_id": "AQADsQ9rGxAQ-VZ4",
                "file_size": 1170,
                "width": 67,
                "height": 90
              },
              {
                "file_id": "AgACAgUAAxkBAAIEV2nfBx6Kk_n7EJxyR7DX7rNiUBA3AAKxD2sbEBD5Vp4iXHvCe7yKAQADAgADbQADOwQ",
                "file_unique_id": "AQADsQ9rGxAQ-VZy",
                "file_size": 15720,
                "width": 240,
                "height": 320
              },
              {
                "file_id": "AgACAgUAAxkBAAIEV2nfBx6Kk_n7EJxyR7DX7rNiUBA3AAKxD2sbEBD5Vp4iXHvCe7yKAQADAgADeAADOwQ",
                "file_unique_id": "AQADsQ9rGxAQ-VZ9",
                "file_size": 76090,
                "width": 600,
                "height": 800
              },
              {
                "file_id": "AgACAgUAAxkBAAIEV2nfBx6Kk_n7EJxyR7DX7rNiUBA3AAKxD2sbEBD5Vp4iXHvCe7yKAQADAgADeQADOwQ",
                "file_unique_id": "AQADsQ9rGxAQ-VZ-",
                "file_size": 101789,
                "width": 960,
                "height": 1280
              }
            ]
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Schedule Trigger": [
      {
        "json": {
          "timestamp": "2026-05-14T09:30:29.003+08:00",
          "Readable date": "May 14th 2026, 9:30:29 am",
          "Readable time": "9:30:29 am",
          "Day of week": "Thursday",
          "Year": "2026",
          "Month": "May",
          "Day of month": "14",
          "Hour": "09",
          "Minute": "30",
          "Second": "29",
          "Timezone": "Asia/Ulaanbaatar (UTC+08:00)"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Unified Telegram Trigger": {
      "main": [
        [
          {
            "node": "Route Update Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Save Dispatch to Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Хүлээн авлаа ✅8": {
      "main": [
        [
          {
            "node": "Гаргасан гарын үсэг1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Dispatch to Sheets": {
      "main": [
        [
          {
            "node": "✍️ Гарын үсэг амжилттай зурлаа.",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Telegram File": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Dispatch Error": {
      "main": [
        [
          {
            "node": "Send Dispatch Error Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Telegram File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Dispatch Data": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          },
          {
            "node": "Check Dispatch Error",
            "type": "main",
            "index": 0
          },
          {
            "node": "Хүлээлгэн өгөх төлөв шинчлэлт",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Хүлээн авлаа ✅8",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Хүлээн авлаа ✅9",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Хүлээн авлаа ✅9": {
      "main": [
        [
          {
            "node": "Хүргэлт гарын үсэг1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Update Type": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Dispatch Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Booqable Webhook": {
      "main": [
        [
          {
            "node": "Payload боловсруулах",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Payload боловсруулах": {
      "main": [
        [
          {
            "node": "Санхүүгийн тайлан",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Orders уншина",
            "type": "main",
            "index": 0
          },
          {
            "node": "Telegram ажилчид",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Orders уншина": {
      "main": [
        [
          {
            "node": "Merge Orders + Ажилчид",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram ажилчид": {
      "main": [
        [
          {
            "node": "Merge Orders + Ажилчид",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Orders + Ажилчид": {
      "main": [
        [
          {
            "node": "Шүүлтүүр + мессеж бүрдүүлэх",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Шүүлтүүр + мессеж бүрдүүлэх": {
      "main": [
        [
          {
            "node": "Давхардал арилгах",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Давхардал арилгах": {
      "main": [
        [
          {
            "node": "Telegram мэдэгдэл явуулна1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Мэдэгдсэн гэж тэмдэглэх",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "e195ab3b-c3d5-42c3-a3ab-6af75ae633f9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f638da819297acbd6e4f4271a24c6826d03f971863c6ffa42183ae0805d3cea1"
  },
  "id": "WFmGPDBRZOUW28zm",
  "tags": [
    {
      "updatedAt": "2026-04-06T05:37:11.533Z",
      "createdAt": "2026-04-06T05:37:11.533Z",
      "id": "OhVVLbAUdZtvBgg4",
      "name": "M event"
    }
  ]
}